<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    </head>
    <body>
            
            <% for (var key in gisArray) { %>
                <%console.log(gisArray[key].name)%>
                
                <div class="card" style="width:400px">
                    <img class="card-img-top" src=<%=gisArray[key].dpurl%> alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title"><%=gisArray[key].name%></h4>
                      <p class="card-text"><%=gisArray[key].detail%></p>
                      <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                  </div>
                  <% } %> 
    </body>
</html>